* {
  box-sizing: border-box;
}

.App {
  height: 100vh;

  .found {
    fill: green!important;
  }

  .fail {
    fill: red!important;
  }

  .background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    height: 100%;
    background-image: url("../map.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(16px);
    -webkit-filter: blur(16px);
  }

  .content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;

    .map-link {
      color: white;
      border: 3px solid #f1f1f1;
      background-color: rgba(0,0,0, 0.6);
      display: block;
      width: 600px;
      text-align: center;
      font-size: 2rem;
      height: 100px;
      line-height: 100px;
      text-decoration: none;
      margin: 2rem;
    }
  }

  .map {
    height: 90%;
    width: 90%;
    padding: 2rem;
    color: white;
    border: 2px solid #f1f1f1;
    background-color: rgba(0,0,0, 0.6);
    overflow: hidden;

    .map-location-tooltip {
      position: fixed;
      width: 200px;
      padding: 10px;
      border: 2px solid black;
      background-color: white;
      text-align: center;
      font-weight: bold;
    }

    svg {
      height: 700px;
    }
  }



}